In [7]:
name= input("Enter Your Name:")
class_name=input("Enter your class:")
sub1 = int(input("Enter the marks for sub1:"))
sub2 = int(input("Enter the marks for sub2:"))
sub3 = int(input("Enter the marks for sub3:"))
sub4 = int(input("Enter the marks for sub4:"))
sub5 = int(input("Enter the marks for sub5:"))
total=sub1+sub2+sub3+sub4+sub5
avg=total/5
print("****************** PROGRESS REPORT *************************")
print("Name:"+name)
print("Total Marks:")
print(total)
print("Average:")
print(avg)
if(avg >= 90):
    print("O GRADE")
elif(avg >= 80):
    print("A+ GRADE")
elif(avg >= 70):
    print("A GRADE")
elif(avg >= 60):
    print("B+ GRADE")
elif(avg >= 50):
    print("B GRADE")
elif(avg >= 40):
    print(" Pass")
else:
    print("Fail")
print("*************************************************************")

Enter Your Name:AISHWARYA w
Enter your class:BTECH IT YEAR-3
Enter the marks for sub1:98
Enter the marks for sub2:97
Enter the marks for sub3:90
Enter the marks for sub4:89
Enter the marks for sub5:83
****************** PROGRESS REPORT *************************
Name:AISHWARYA w
Total Marks:
457
Average:
91.4
O GRADE
*************************************************************

In [ ]:
# PRIME NUMBERS B/W 1 & 100

In [9]:
lower=1
upper=100
print("PRIME NUMBERS B/W",lower,"&",upper)
for num in range(lower,upper+1):
    if num>1:
        for i in range(2,num):
            if(num % i)== 0:
                break
        else:
                print(num)

PRIME NUMBERS B/W 1 & 100
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#MULTIPLICATION TABLE USING NESTED FOR LOOP

In [19]:
print("MULTIPLICATION TABLE USING NESTED FOR LOOP")
for i in range(1,11):
    print('******',i,'table******')
    for j in range(1,11):
        print(i,"x",j,'=',i*j)

MULTIPLICATION TABLE USING NESTED FOR LOOP
****** 1 table******
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10
****** 2 table******
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20
****** 3 table******
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30
****** 4 table******
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40
****** 5 table******
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
****** 6 table******
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
****** 7 table******
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
****** 8 table******
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
****** 9 table******
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
****** 10 table******
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
#PRIME NUMBERS USING WHILE LOOP

In [3]:
num1=0
num2=int(input("Enter a number:"))



while(num1<=num2):
    count=0
    i=2
    
    while(i<=num1//2):
        if(num1%i==0):
            count+=1
            break
        i=i+1
    
    if(count==0 and num1 !=0):
        print("%d" %num1,end=' ')
    num1=num1+1

Enter a number:50
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47